@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.navig {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "wrapper brand-name cart";
}


.wrapper {
  grid-area: wrapper;
  height: 100%;
  width: 43vw;
  position: relative;
}

.wrapper .menu-btn {
  position: absolute;
  left: 20px;
  top: 10px;
  background: #4a4a4a;
  color: #fff;
  height: 45px;
  width: 45px;
  z-index: 9999;
  border: 1px solid #333;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

#btn:checked~.menu-btn {
  left: 247px;
}

.wrapper .menu-btn i {
  position: absolute;

  font-size: 23px;
  transition: all 0.3s ease;
}

.wrapper .menu-btn i.fa-times {
  opacity: 0;
}

#btn:checked~.menu-btn i.fa-times {
  opacity: 1;
  transform: rotate(-180deg);
}

#btn:checked~.menu-btn i.fa-bars {
  opacity: 0;
  transform: rotate(180deg);
}

#sidebar {
  position: fixed;
  background: #404040;
  height: 100%;
  width: 270px;
  overflow: hidden;
  left: -270px;
  transition: all 0.3s ease;
}

#btn:checked~#sidebar {
  left: 0;
}

#sidebar .title {
  line-height: 65px;
  text-align: center;
  background: #333;
  font-size: 25px;
  font-weight: 600;
  color: #f2f2f2;
  border-bottom: 1px solid #222;
}

#sidebar .list-items {
  position: relative;
  background: #404040;
  width: 100%;
  height: 100%;
  list-style: none;
}

#sidebar .list-items li {
  padding-left: 40px;
  line-height: 50px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid #333;
  transition: all 0.3s ease;
}

#sidebar .list-items li:hover {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  box-shadow: 0 0px 10px 3px #222;
}

#sidebar .list-items li:first-child {
  border-top: none;
}

#sidebar .list-items li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  height: 100%;
  width: 100%;
  display: block;
}

#sidebar .list-items li a i {
  margin-right: 20px;
}

#sidebar .list-items .icons {
  width: 100%;
  height: 40px;
  text-align: center;
  position: absolute;
  bottom: 100px;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sidebar .list-items .icons a {
  height: 100%;
  width: 40px;
  display: block;
  margin: 0 5px;
  font-size: 18px;
  color: #f2f2f2;
  background: #4a4a4a;
  border-radius: 5px;
  border: 1px solid #383838;
  transition: all 0.3s ease;
}

#sidebar .list-items .icons a:hover {
  background: #404040;
}

.list-items .icons a:first-child {
  margin-left: 0px;
}


.brand-name {
  grid-area: brand-name;
  font-weight: 600;
  letter-spacing: 0.3em;
  margin-top: 3vh;
  display: grid;
  justify-content: center;
  text-align: center;

}

.brand-name h1 {
  font-weight: 1000;
  letter-spacing: 0.3em;
  color: black;
  text-decoration: none;
  display: inline-block;
  pointer-events: auto;
  font-size: 18px;
  margin-left: -15vw;
}


.cart {
  display: flex;
  grid-area: cart;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.3em;
  color: black;
  text-decoration: none;
  display: inline-block;
  pointer-events: auto;
}


.cart img {
  display: grid;
  width: 30px;
  height: 30px;
  float: right;
  margin-top: 3vh;
  margin-right: 2vh;
}

body {
  font-family: 'Roboto', 'Noto', sans-serif;
  margin-left: 12px;
  margin-right: 12px;
}

.content {

  text-align: center;
}

.content .header {
  font-size: 45px;
  font-weight: 700;
}

.content p {
  font-size: 40px;
  font-weight: 700;
}

.content a {
  text-decoration: none;
}

.shop-now-button {
  background-color: white;
  color: black;
  border: 2px solid #000;
  padding: 0px 2px;
}

.shop-now-button:hover {
  background: #e7e7e7;
  border: 2px solid #000;
}


.category-image img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  padding: 20px;
}

.category-image2 img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}


.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "mens"
    "kids"
    "ladies";
  align-items: end;
}

.mens {
  grid-area: mens;
}

.kids {
  grid-area: kids;
}

.ladies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "ladies1 ladies2";
  grid-area: ladies;
  align-items: flex-end;
  justify-self: start;
}

.ladies1 {
  grid-area: ladies1;
  justify-self: start;
}

.ladies2 {
  grid-area: ladies2;
  align-self: end;
}

.heading-plus-count {
  margin-top: 2vh;
}

.category-heading {
  text-align: center;
  font-size: 1.1em;
  font-weight: 50;
}

.category-count {
  margin-top: 0.8vh;
  text-align: center;
  color: #757575;
  font-size: 12px;
}

.products {
  display: grid;
  grid-template-columns: auto auto
}


.products a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  text-decoration: none;
}

.shoe-item {
  line-height: 1.5;
}

.shoe-item span {
  opacity: 0.7;
  font-size: 0.8em;
}

.shoe-item img {
  /* align-self: center; */
  max-width: 100%;
  padding: 10% 0%;
}

.shoe-item strong {
  font-size: 13px;
  line-height: 1.5;
  font-weight: bold;
}

/*Link Colors*/
/*a normal, unvisited link*/
a:link {
  color: green;
}

/*a link the user has visited*/
a:visited {
  color: purple;
}

/*a link when the user mouses over it*/
a:hover {
  color: yellow;
}

/*a link the moment it is clicked*/
a:active {
  color: brown;
}

.item-description {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 7%;
}

.item-description-details {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 7%;
}

.item-description-details header {
  opacity: 1;
}

.item-description-image img {
  resize: both;
  max-width: 100%;
  height: auto;
}

.item-description-image {
  justify-self: center;
}

.item-description-details-text {
  padding: 5% 15%;
  opacity: 0.7;
  font-size: 0.9em;
  line-height: 1.5em;
}


.item-description-details-text h1 {
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.item-description-dropdown div {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}

.item-description-dropdown-size {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.item-description-dropdown label {
  position: absolute;
  opacity: 0.7;
  font-size: 0.9em;
}

.item-description-dropdown select {
  background: transparent;
  border: none;
  width: 100%;
  outline: none;
  z-index: 1;
  /* text-indent: 20%; */
  padding-left: 25%;
  font-size: 1.2em;
  font-weight: 300;
}

#item-add-to-cart {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border: none;
  color: white;
  background-color: #000066;
  height: 60px;
  opacity: 1;
}

.cart-details-list {
  display: flex;
  flex-direction: column;
}

.cart-items {
  align-items: baseline;
}

.checkout-form {
  grid-template-columns: 1fr;
}

.close-button {
  grid-area: close-button;
}

.cart-content {
  margin: 5%;
}

.checkout-content {
  margin: 5% 10%;
  padding-bottom: 10%;
}

.goback {
  height: 100%;
  width: 43vw;
  position: absolute;
  left: 0;
  top: 0;
}

.navig-goback {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "goback brand-name cart";
}

#goback img {
  height: 11%;
  width: 12vw;
  position: absolute;
  left: 0;
  top: 0;
}

.cart-title {
  text-align: center;
  font-size: 1.1em;
}

.cart-items {
  display: inline-block;
  margin-left: -50px;
}


.cart-items,
.cart-total-price {
  margin-left: 5%;
}

.cart-name img {
  max-width: 15%;
  height: auto;
  object-fit: contain;
  resize: both;
  max-width: 70px;
}

/* Style for checkout page*/

.checkout-content input:not([type="checkbox"]),
select {
  width: 100%;
  border: transparent;
  outline: none;
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  display: block;
  transition: opacity 3s;
  /* padding-bottom: 1.5%; */
}

select {
  font-size: 1em;
}

.checkout-content input:not([type="checkbox"]):focus {
  border-bottom: 3px solid rgba(0, 0, 0, 1);
}

.checkout-content input::-webkit-input-placeholder {
  font-size: 1.35em;
}

/* .checkout-content label{
  font-size: 0.8em;
  opacity: 0.7;
} */
.checkout-title {
  text-align: center;
}

.checkout-title {
  font-size: 1.3em;
  font-weight: 100;
}

.checkout-title p {
  font-size: 0.6em;
  opacity: 0.7;
}

.checkout-checkbox {
  display: flex;
  align-items: center;
}

.checkout-state-zip-flex {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}

.checkout-total,
.checkout-order-summary,
.checkout-form-expiry-date {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-bottom: 2%;
  opacity: 1;
}

.checkout-label {
  padding-top: 5%;
  font-size: 0.8em;
}

/* Material design for checkout form */
.checkout-form-input {
  position: relative;
}

.material-label {
  position: absolute;
  left: 5px;
  top: 25px;
  font-size: 1em;
  opacity: 0.5;
  transition: 0.2s ease all;
  z-index: -1;
}

input:focus~.material-label {
  top: 5px;
  font-size: 0.7em;
  opacity: 1;
}


h2 {
  margin: 16px 0;
  font-size: 13px;
}

p {
  color: #757575;
  margin: 16px 0;
  font-size: 13px;

}

li {
  color: #757575;
  margin-left: 50px;
  font-size: 13px;

}

.cart-title img {
  height: 32px;
  margin-bottom: -14px;
}

#prod-size {
  margin-left: -61px;
  display: flex;
  font-size: medium;
  text-align: center;
}

#prod-quant {
  margin-left: -21px;
  margin-right: 12px;
  width: auto;
  text-align: left;
  font-size: medium;
}

#prod-price {
  margin-left: 0px;
  text-align: right;
  width: auto;
}


.success {
  margin-top: 13px;
  text-align: center;
}

.success p {
  font-weight: 500;
  font-size: 0.8em;
  color: #000;
  line-height: 1.5;
  font-family: 'Roboto', 'Noto', sans-serif;
}

.success h3 {

  font-weight: 500;
  font-size: 0.9em;
  line-height: 1.5;
  font-family: 'Roboto', 'Noto', sans-serif;
}

.cart-details-list {
  flex-direction: column-reverse;
  /* align-items: flex-end; */
}

.cart-items {
  align-items: baseline;
}

.close-button {
  align-self: flex-end;
}

.cart-content {
  margin: 5%;
}

.cart-items {
  display: flex;
  justify-content: space-between;
}

.cart-items,
.cart-total-price {
  margin: 5%;
}

.cart-name img {
  max-width: 15%;
  height: auto;
  object-fit: contain;
  resize: both;
  max-width: 70px;
}

.cart-name {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.cart-details select {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0% 5%;
}

.cart-total-price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cart-details {
  display: flex;
  align-items: baseline;
  padding: 5%;
  /* justify-content: flex-end; */
}

.cart-details * {
  margin-right: 5%;
}

.cart-total-price-checkout {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-right: 5%;
}

.cart-total-price-checkout span {
  padding-left: 15%;
}

.cart-content section {
  font-size: 1em;
}

.cart-details label,
span {
  opacity: 0.7;
}

.cart-details select {
  font-size: 1.2em;
  width: 30vw;
  margin-right: -1vw;
}

.cart-details-list {
  display: flex;
  align-items: baseline;
  /* justify-content: flex-start; */
}

select {
  -o-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

p {
  color: #000;
}


.cart-total-price-checkout p {
  text-align: right;
  font-size: medium;
}

#tot_amount {
  border: none;
  text-align: right;
  width: 65px;
  margin-right: -21px;
  font-weight: bold;
  font-size: medium;
}



#tot_amount :focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}